/* Add to cart button styling */
.product-price{
  margin-top: 5%;
  
}

.add-to-cart-btn {
    margin-top: 5%;
    margin-left: 20%;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .add-to-cart-btn:hover {
    background-color: #429445;
  }
  
  .add-to-cart-btn:active {
    background-color: #4caf50;
    transform: scale(0.98); /* Slight scale effect when button is clicked */
  }
  
  /* Styling for the button when product is added to cart */
  /* .add-to-cart-btn.added {
    background-color: #95a5a6;
    cursor: not-allowed;
    color: #bdc3c7;
  } */
  
  .add-to-cart-btn.added:hover {
    background-color: #95a5a6;
  }
  
  
  /* Quantity container styling */
  /* .quantity-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .quantity-btn {
    background-color: #ddd;
    color: #333;
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    user-select: none;
  }
  
  .quantity-btn:hover {
    background-color: #ccc;
  }
  
  .quantity-input {
    width: 40px;
    text-align: center;
    margin: 0 10px;
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 16px;
  }
   */